.dashboard {
    width: min-content;
    height: 100%;
    overflow: hidden;
    padding: 2em;
}

.instructions-ol li:first-child {
    margin-top: 0px;
}

.instructions-ol li {
    margin-top: 20px;
}

.instructions-control {
    margin-top: 10px;
}

.dosbox-container {
    flex-grow: 1;
}